
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E0F1F3;
}

    /*Header CSS, se utiliza en todos los .html*/

.header__titulo{
    text-align: center;
    font-family: 'rubik', sans-serif;
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}

    /*Estilos para el nav, tanto para el contenedor
    Como para cada elemento  */

.nav__container {
    background-color:#6666FF;
    display: flex;
}
.nav {
    text-decoration: none;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
}

.nav__element {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    list-style: none;
}

.nav__element a{
    text-decoration: none;
    color: white;
    
}
.nav__element i {
    text-decoration: none;
    color: white;    
}

.nav__element:hover > a{            
    color: greenyellow;
}

.nav__element:hover > i{            
    color: greenyellow;
    ;
}

.nav__element:hover{            
    color: greenyellow;
    ;
}

    /*Estilos del contenedor general, contiene tanto
    "sobre esta página" como el contenedor del video.*/

.contenido__container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content:center;
    max-width: 100%;
    height: auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: justify;
}

.cotenido__info__pagina h2{
    font-family: 'rubik', sans-serif;
    text-align: center;
    margin-bottom: 15px;

}


.contenido__container article {
    max-width: 100%;
    margin:15px;
}

    /*espacio entre el "video acerca de..." y el respectivo video.
    Y otras caractersticas de este.*/

.contenido__video h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'rubik', sans-serif;
    margin-bottom: 15px;
}

    /*Footer CSS. Para todos los .html se usa este CSS*/

.footer__container {
    background-color:#368D96;
    width: 100%;
    border: 3px  solid black;
    height: auto;
}

.footer__container .grupo__1 {
    width: 100%;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.footer__img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    
}

.footer__img img {
    max-width: 100%;
    height: auto;
    border: 3px solid white;
    border-radius: 20%;
}

.footer__container .grupo__1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    text-align: center;
    
}

.footer__container .grupo__1 .box p {
    color: #efefef;
    margin-top: 50%;
    text-align: center;
    
}
.footer__container .grupo__1 .red__social {
    text-align: center;
}
.footer__container .grupo__1 .red__social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #54dfcc;
    text-align: center;
}


.footer__container .grupo__2 {
    background-color: #54dfcc;
    padding: 15px 10px;
    text-align: center;
    color: #fff;

}


    /*CSS para  historia.html*/

.section__contenido {
    display: flex;
    flex-direction: row;                       
    justify-content: space-around;           
    align-content:space-between;
    height: auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: justify;
}


.section__contenido article {
    max-width: 100%;
    margin:15px;
}

.contenido__origenes h2{
    text-align: center;
    margin-bottom: 5px;
}

.contenido__ubicacion h2{
    text-align: center;
    margin-bottom: 5px;
}
.contenido__ubicacion p{
    margin-bottom: 5px;
}


    /*CSS exclusivo para las clases de
    contacto.html*/
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 8px;
    }

.contacto__container {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 20px;
   
}

.contacto__form {
    margin-top: 22px;
    margin-bottom: 22px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    max-width: auto;
    height: 500px;
    background-color: #FBF7FF;
}

.contacto__form label {
    font-size: 24px;
}

.contacto__controls {
    width: 100%;
    border-radius: 5px;
}

.radio__controls {
    width: auto;
}
.contacto__botons {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
    text-decoration: solid;
}

.contacto__botons:hover {
    background-color: lightgreen;
}

.contacto__control__radio {
    display: flex;
    width: 100px;
    align-items: flex-start;
    justify-content:space-around;
}

.contacto__info {
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
}

    /*CSS exclusivo para las clases de
    lugares.html*/

.lugares__info {
    text-align: center;
}

.lugares__info h2 {
    padding: 10px;
    font-family: 'rubik', sans-serif;
}

    /* Las siguientes estilos, se utilizan para darle 
    estilo a lugares.html y también para fotos.html*/

.lugares__grid {  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px 12px;
    grid-auto-rows: minmax(100px, 350px);
    padding: 12px;
}

.lugares__img img{
    width: 100%;
    height: auto;
  }
  @supports(object-fit: cover){
      .lugares__img img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }


.lugares__img img {
    width: 100%;
    opacity: 1;
   
}
.lugares__img {
    position: relative;
    transition: all 0.5s ease-in-out;
}

.lugares__img:hover .descripcion__foto {
    display: block;
}
.descripcion__foto {
    display: none;
    background:rgba(0,0,0,.7);
    position: absolute;
    padding: 5px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    text-align: center;
    color: white;
}
.descripcion__foto p {
    font-size: 15px;
}
.descripcion__foto h3 {
    margin-bottom: 50px;
    font-size: 25px;
}


    /*CSS exclusivo para las clases de
    fotos.html*/

.fotos__info {
    text-align: center;
    margin: 5px;
}

.fotos__info h2 {
    padding: 10px;
    font-family: 'rubik', sans-serif;
}


/*Seccion @media querys*/

    /*Nav resposive*/

@media (max-width: 858px) {
    .nav {
        flex-direction: column;
        width: 100%;
        height: auto;
        line-height: 45px;
    }
}


    /*hacemos los iframe responsive, para que se ajuste al tamaño
    de la pantalla que estamos usando. (Sirve para otros iframe tambien) */


.container__iframe {
    text-align: center;
}
            
.container__iframe iframe{
    width: "400";
    height: "350";
}

    /* CSS pantallas de 280px o menor */
    @media (max-width: 280px) {
    
        .container__iframe iframe {
            width: 200px;
            height: 150px;
        } 
          
    }


    /* CSS pantallas de 320px o superior */
@media (min-width: 320px) {
    
    .container__iframe iframe {
        width: 300px;
        height: 200px;
    } 
      
}
      
    /* CSS pantalla 768px o superior */
@media (min-width: 768px) {
      
    .container__iframe iframe {
        width: 500px;
        height: 350px;
    }

}

    /* CSS cotenido de 450px o menor. Con esta configuración
    cuando la pantalla de un dispositivo es menor a 450, el contenido
    se apila (column). Es responsive */
@media (max-width: 1024px) {

    .section__contenido {
        flex-direction: column;
    } 
 
    
}

    /*Media querys de lugares, para hacer los mismos responsive*/

@media(max-width:1500px) {
    .lugares__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:1024px) {
    .lugares__grid {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, 250px);
    }
}

@media(max-width:850px) {
    .lugares__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .lugares__info {
        font-size: 12px;
    }
}

@media(max-width:600px) {
    .lugares__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(100px, 350px);
    }
}

    /*Media query para cambiar el tamañaño de el subtitulo de
    la seccion contacto */

@media(max-width:785px) {
    .contacto__info {
        font-size: 12px;
    }
}

    /*Media del footer*/

@media screen and (max-width: 800px) {
    .footer__container .grupo__1 {
        width: 100%;
        
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

 @media screen and (min-width: 1630px) {
    .footer__container {
        margin-top: auto;
        
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}
